@font-face {
  font-family: "iconfont"; /* Project id 3035372 */
  src: url('iconfont.woff2?t=1640176832227') format('woff2'),
       url('iconfont.woff?t=1640176832227') format('woff'),
       url('iconfont.ttf?t=1640176832227') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fangzi:before {
  content: "\e67d";
}

.icon-shezhi2:before {
  content: "\e62e";
}

.icon-tianjiashangpin:before {
  content: "\e62f";
}

.icon-zhanghao:before {
  content: "\e779";
}

.icon-yuangongxinxi:before {
  content: "\e6a3";
}

.icon-zhankai2:before {
  content: "\e630";
}

.icon-dianpu:before {
  content: "\e694";
}

.icon-jianpan:before {
  content: "\e602";
}

.icon-inbox:before {
  content: "\e650";
}

.icon-zhifubao1:before {
  content: "\e65e";
}

.icon-zhifu-copy:before {
  content: "\e631";
}

.icon-yonghutouxiang:before {
  content: "\e851";
}

.icon-weixin1:before {
  content: "\e632";
}

.icon-caiwuguanli1:before {
  content: "\e63d";
}

.icon-dingdan:before {
  content: "\e62a";
}

.icon-caidan1:before {
  content: "\e621";
}

.icon-tuichu:before {
  content: "\e66f";
}

.icon-fenlei:before {
  content: "\e622";
}

.icon-Appxiazai1:before {
  content: "\e6c5";
}

.icon-qiantai:before {
  content: "\e607";
}

.icon-youhuiquan1:before {
  content: "\e651";
}

.icon-daohang:before {
  content: "\e61e";
}

.icon-icon--:before {
  content: "\e794";
}

.icon-jin:before {
  content: "\e60c";
}

.icon-shichang:before {
  content: "\e69c";
}

.icon-fanqia:before {
  content: "\e667";
}

.icon-shezhi1:before {
  content: "\e62c";
}

.icon-dingdan1:before {
  content: "\e624";
}

.icon-liebiao:before {
  content: "\e628";
}

.icon-youhuiquan:before {
  content: "\e647";
}

.icon-diannao:before {
  content: "\e679";
}

.icon-paixu:before {
  content: "\e66d";
}

.icon--zhifujilu:before {
  content: "\e649";
}

.icon-payment:before {
  content: "\e616";
}

.icon-quxiaozhiding:before {
  content: "\e665";
}

.icon-zhiding:before {
  content: "\e666";
}

.icon-kuadiantuihuan:before {
  content: "\e801";
}

.icon-huokuanyue:before {
  content: "\e803";
}

.icon-gouwuka:before {
  content: "\e805";
}

.icon-licai:before {
  content: "\e600";
}

